<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/w0rd.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:900, 900i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        
        <div class="container jumbotron" id="header-jumbotron">
            <h1 class="header">w0rd.live</h1>
        </div>
        <div class="container" id="h2-jumbotron">
            <h3 style="color: white">
                w0rd.live is my take on "hyper-light" social media.
                This is a working example of the skills I have to offer as a web developer in training.
                It was created using Node.JS and EJS, soon to integrate React.js and Redux.</h3>
                <br>
                <h3 style="color: white">If you have any questions or comments feel free to contact me at <a id="mail" href="mailto:hello@w0rd.live">hello@w0rd.live</a></h3>
                <br>
                <h4 style="color: white">2018 | Created by Alex Rabideau</h4>
                <br>
                <a href="/" class="btn btn-primary btn-style">back</a>
        </div>
        
        
        
        
    </body>
</html>