<!DOCTYPE html>
<html>
    <head>
        <title>w0rd | create</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/w0rd.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:900, 900i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      
      <div class="container jumbotron" id="header-jumbotron">
            <h1 class="header">w0rd.live</h1>
        </div>
        
        <div class="container jumbotron" id="form-jumbotron">
          <form action="/" method="POST">
            <div class="form-group">
              <input type="text" name="word" class="form-control" placeholder="w0rd goes here" maxlength="15" pattern="^[a-zA-Z][a-zA-Z_\.]{1,20}$" title="letters only, no special characters">
            </div>
            
            <div class="form-group">
              <p>
                font Style
              </p>
              <select class="form-control" name="fontStyle">
                <option id="normalFont" name="fontStyle" class="form-control radio" value="normal">normal</option>
                <option id="italicFont" name="fontStyle" class="form-control radio" value="Italic">italic</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="font-color-selector">font color</label>
              <input type="color" name="fontColor" class="form-control" id="font-color-selector" value="#ffffff" placeholder="#ffffff">
            </div>
            <div class="form-group">
              <label for="color-selector">background color</label>
              <input type="color" name="backgroundColor" class="form-control" id="color-selector" value="#232526" placeholder="#232526">
            </div>
            
            <div class="form-group">
              <button class="btn btn-primary btn-style">submit</button>
              <a href="/" class="btn btn-primary btn-style">back</a>
            </div>
          </form>
        
        
        
    </body>
</html>