<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/w0rd.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      
      <div class="container">
        <div>
          <span class="w0rdbox">
            w0rd
          </span>
        </div>
        <div class="container jumbotron">
          <form action="/" method="POST">
            <div class="form-group">
              <input type="text" name="word" class="form-control" placeholder="w0rd goes here" maxlength="15">
            </div>
            <div class="form-group">
              <label for="color-selector">background color</label>
              <input type="color" name="backgroundColor" class="form-control" id="color-selector">
            </div>
            <div class="form-group">
              <button>Submit</button>
            </div>
          </form>
        </div>
        <a href="/" id="backtohomepage">back to homepage</a>
      </div>
        
        
    </body>
</html>